build/
install/
log/
src/vanjee_lidar_sdk/
src/pull_wire_encoder/config/encoder-config.yaml
venv/
.venv/
env/
.env/
ENV/


**/venv/
**/.venv/
**/env/
**/.env/


**/__pycache__/

# macos devenv
*.DS_Store
