version: '3.8'
services:
  robot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sensors_launch
    stdin_open: true
    tty: true
    privileged: true
    devices:
      - /dev/bus/usb:/dev/bus/usb # Add this line for USB access
    device_cgroup_rules: # Add this section
      - 'c 189:* rmw'    # Rule for USB devices (c 189 is the major number for USB devices)
    restart: unless-stopped
    network_mode: host
    volumes:
      - /dev:/dev
      - ./config:/ros_ws/config:ro
      - ./logs:/ros_ws/logs
      - ./src:/ros_ws/src
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
      - FASTRTPS_DEFAULT_PROFILES_FILE=/ros_ws/fastrtps.xml
