version: '3.8'

services:
  robot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sensors_launch

    stdin_open: true
    tty: true

    privileged: true
    runtime: nvidia
    devices:
      - /dev/bus/usb:/dev/bus/usb

    restart: unless-stopped
    network_mode: host

    volumes:
      - ./config:/ros_ws/config:ro
      - ./logs:/ros_ws/logs

    environment:
      ROS_DOMAIN_ID: 0
      ROS_AUTOMATIC_DISCOVERY_RANGE: SUBNET
      FASTRTPS_DEFAULT_PROFILES_FILE: /ros_ws/fastrtps.xml
      YOLO_CONFIG_DIR: /tmp/Ultralytics